/* NAVIGATIEBALK

a {
    text-decoration: none;
}

.icon {
    width: 25px;
}

nav {
    background-color: #306953;
    display: grid;
    align-items: end;
    align-content: end;
}

nav a {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

nav div ul {
    list-style-type: none;
    padding: 0;
    color: white;
    display: grid;
    justify-items: center;
}

nav div.logo {
    grid-column: 1 / span 1;
    grid-row: 1 / 1;
    justify-self: center;
    z-index: 1;
}

nav div.subnav li {
    line-height: 2em;
}

nav .dropdown {
    position: relative;
    display: inline-block;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

nav .dropdown-content a {
    color: #306953;
}

nav .dropdown li {
    text-align: left;
}

nav div.nav li {
    text-transform: uppercase;
    font-family: "Avenir Medium";
    letter-spacing: 1px;
    line-height: 3em;
}

nav div.search {
    justify-self: center;
    align-self: center;
    margin: 3%;
}

nav div.search input {
    height: 25px;
}

nav div.search a.search {
    margin: 10px;
}

.icon_search .icon {
    width: 25px;
}

@media (min-width: 650px) {
    nav {
        padding: 0% 10%;
    }

    nav div.logo {
        grid-column: 1 / span 1;
        grid-row: 1 / 1;
        margin: 0;
        justify-self: start;
    }

    nav div.logo img {
        padding: 20px 10px 0px 10px;
        height: 50px;
    }

    nav div li {
        padding: 0px 10px;
    }

    nav div.subnav {
        grid-column: 1 / span 4;
        grid-row: 1 / 1;
    }

    nav div.subnav ul {
        display: flex;
        justify-content: flex-end;
        align-content: center;
    }

    nav div.nav {
        grid-column: 1 / span 1;
        grid-row: 2 / 2;
    }

    nav div.nav ul {
        display: flex;
        justify-content: flex-start;
        justify-content: space-between;
    }

    nav div.search {
        display: none;
    }
}

@media (min-width: 900px) {
    nav div.subnav ul {
        margin-right: 0.5%;
    }

    nav div.search {
        display: inline;
        text-align: right;
        justify-self: end;
        grid-column: 3 / span 2;
        grid-row: 2 / 2;
        margin-right: 0.5%;
    }

    nav div.search .search .icon_search {
        display: inline;
    }
}

 */

body {
    font-family: "Avenir";
}

a {
    text-decoration-line: none;
    color: black;
}

a:hover {
    text-decoration-line: underline;
}

a.link-green {
    color: #306a53;
}

a.link-white {
    color: white;
}

textarea:focus, input:focus, select:focus {
    outline: none;
}

input, select {
    border: 1px solid #306953;
    border-radius: 6px;
    box-sizing:border-box;
    display: block;
    height: 50px;
    padding: 0 0.5%;
    width: 100%;
    font-size: 0.8em;
    font-family: "Avenir";
}

input[type="submit"].btn {
    height: 50px;
}

ul {
    padding: 0;
    list-style-type: none;
}

.header {
    background-color: #306a53;
}

.header a {
    color: white;
}

.header a:hover {
    text-decoration-line: underline;
}


.header__logo img {
    height: 50px;
}

/* HEADER */

.header {
    align-items: center;
    display: grid;
    grid-template-columns: 15% auto 15%
}

.header__logo img {
    height: 50px;
}

.header__nav ul {
    display: flex;
    font-weight: bold;
    letter-spacing: 0.1em;
    justify-content: center;
    text-transform: uppercase;
}

.header__nav li {
    margin: 0 5%;
}

.header__subnav ul {
    display: flex;
    justify-content: flex-end;
}

.header__subnav li {
    margin-left: 10%;
}

/* HEADER DROPDOWN */

.header__subnav .dropdown {
    position: relative;
    display: inline-block;
}

.header__subnav .dropdown:hover .dropdown-content {
    display: block;
}

.header__subnav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
    padding: 16px 16px;
    z-index: 1;
}

.header__subnav .dropdown-content a {
    color: #306a53;
}

.header__subnav .dropdown li {
    text-align: left;
}

@media (min-width: 650px) {
    div.header {
        padding: 0% 10%;
    }

    div.container {
        margin: 0% 10%;
    }
}