body {
    font-family: 'Avenir Book';
    background-color: white;
}

h1, h2 {
    font-family: 'Avenir Heavy';
}

h2 {
    font-size: 2em;
}

a {
    text-decoration: none;
}

.intro {
    background-color: #306953;
}

.intro nav {
    align-self: center;
    background-color: #306953;
    padding: 5%;
}

.intro nav a, div.home {
    color: white;
}

.intro nav a:hover {
    text-decoration: underline;
}

.intro nav div.logo {
    text-align: center;
}

.intro nav div ul {
    list-style-type: none;
    padding: 0;
    color: white;
    display: grid;
    justify-items: center;
}

.intro nav div.logo img {
    height: 100px;
}

.intro nav div.index-nav li {
    text-transform: uppercase;
    font-family: "Avenir Medium";
    letter-spacing: 1px;
    line-height: 3em;
    font-size: 1em;
}

.intro input.button-outline {
    padding: 5px 12px;
    height: 40px;
    border-radius: 6px;
    font-size: 0.9em;
    display: block;
    width: 100%;
    margin: 3% auto;
    box-sizing: border-box;

    color: white;
    text-decoration-line: none;

    background-color: transparent;
    border: 1px solid white;
    text-transform: uppercase;

    letter-spacing: 1px;
}

.intro input.button-outline:hover {
    background-color: white;
    color: #306953;
}

.intro .home,
.how .right,
.why .left {
    padding: 10%;
}

.how .left, .why .right {
    background-size: cover;
    background-position: center;
}

.how .left {
    background-image: url('../images/BULK_background_share.JPG');
}

.why .right {
    background-image: url('../images/BULK_background_grocery bag.JPG');
}

.how .left, .why .right {
    height: 640px;
    width: 100%;
    padding-top: 10%;
}

.how .right, .why .left {
    text-align: center;
}

.users {
    background-color: #f5f5f5;
    padding: 10%;
    text-align: center;
}

@media (min-width: 600px) {
    div.logo {
        display: block;
    }

    .intro nav ul {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }
}

@media (min-width: 800px) {
    .intro nav ul {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

    .intro h1 {
        font-size: 2.5em;
    }

    .intro p {
        font-size: 1.2em;
    }

    .users .articles {
        display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-gap: 4%;
    }
}

@media (min-width: 1024px) {
    .intro {
        padding-bottom: 10%;
    }

    .intro h1 {
        font-size: 3.5em;
    }

    .intro p {
        font-size: 1.8em;
    }
}

@media (min-width: 1200px) {
    .how, .why {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .intro nav {
        display: grid;
        grid-template-columns: 20% 80%;
        padding: 2% 10%;
    }

    .intro nav .logo {
        display: grid;
    }

    .intro nav ul {
        justify-items: end;
    }

    .intro nav li {
        font-size: 1.2em;
    }

    .intro .logo img {
        width: 80%
    }

    .intro .home {
        margin-left: 35%;
    }
}