html, body {
    height: 100%;
    font-family: 'Avenir Book';
    color: #306953;
}

a {
    color: #306953;
    text-decoration: underline;
}

textarea:focus, input:focus, select:focus {
    outline: none;
}

main {
    background-color: transparent;
    text-align: center;
    padding: 10%;
}

main h1, h3 {
    font-family: 'Avenir Heavy';
}

.social img {
    width: 50px;
    border-radius: 50px;
    margin: 0% 3%;
}

input[type=submit] {
    background-color: #306953;
    height: 50px;
    color: white;
    width: 100%;
    text-decoration-line: none;
}

div.form-login {
    text-align: center;
}

div.form-login input, input.button-outline, input.button-line, div.form-register input {
    padding: 5px 12px;
    height: 50px;
    border: 1px solid #306953;
    border-radius: 6px;
    font-size: 0.9em;
    display: block;
    width: 100%;
    margin: 3% auto;
    box-sizing: border-box;
}

p#error {
    color: red;
}


input.button-outline {
    background-color: transparent;
    border: 1px solid white;
    width: 70%;
    margin-top: 10%;
}

input.button-line {
    background-color: white;
    color: #306953;
    width: 70%;
    margin-top: 10%;
}

aside input.button-outline, input.button-line {
    margin: 3% auto ;
}

input[type=submit]:hover {
    font-weight: 500;
}

aside {
    background-color: #306953;
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

aside div {
    padding: 10%;
}

aside div.logo img {
    width: 200px;
}

aside div.logo p {
    padding: 5%;
}

aside div.logo a.button-outline {
    border: 1px solid white;
}

@media (min-width: 600px){

    aside input.button-outline, input.button-line {
        margin: 3% auto ;
    }

    aside input.button-outline {
        margin-top: 3%;
    }

    aside div.logo p {
        font-size: 1.2em;
    }
}

@media (min-width: 1150px){
    .login, .register {
        display: grid;
        align-items: stretch;
        grid-template-columns: 50% 50%;
        height: 100%;
    }

    .login main, .register main {
        align-self: center;
    }

    aside input[type=submit] {
        width: 40%;
    }

    aside div.logo p {
        padding: 0 20%;
        line-height: 1.5;
    }
}