body {
    font-family: "Avenir Book";
}

h1, h2 {
    font-family: 'Avenir Heavy';
}

textarea:focus, input:focus, select:focus {
    outline: none;
}

input[type=submit]:hover{
    background-color: #204637
}

div.container {
    margin: 3%;
}

.main .breadcrumbs a {
    color: #306953;
}

.main .breadcrumbs a:hover {
    text-decoration-line: underline;
}

div.supplier {
    margin: 3% auto 0 auto;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 2%;
}

div.supplier .supplier-info {
    background-color: #E4E4E4;
    justify-items: center;
    border-radius: 6px;
    box-shadow: 0px 6px 9px #E4E4E4;
    padding: 5%;
    text-align: center;
}

div.supplier .supplier-avatar {
    margin: 3% auto;
}

div.supplier .supplier-avatar img {
    height: 100px;
    border-radius: 50px;
}

div.supplier .supplier-name h2{
    margin-bottom: 0;
}

div.supplier .supplier-name p{
    margin-top: 1%;
}

div.supplier h3 {
    font-family: "Avenir Heavy";
    margin-top: 10%;
}

div.supplier p {
    line-height: 1.8;
}

div.supplier .supplier-category img {
    height: 50px;
}

div.supplier .supplier-button input[type=submit], .product-actions .button input[type=submit] {
    background-color: #306953;
    border: none;
    height: 50px;
    color: white;
    text-decoration-line: none;
    border-radius: 6px;
    font-size: 0.9em;
}

div.supplier .supplier-button input[type=submit] {
    width: 50%;
    margin: 5% 0;
}

.product-actions .button input[type=submit] {
    width: 100%
}

div.supplier-product {
    justify-items: center;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 6px 9px #E4E4E4;
    display: grid;
    grid-template-columns: 35% 35% 30%;
    margin-bottom: 2%;
}

div.supplier-product .product-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 100%;
    border-radius: 6px 0px 0px 6px;
    text-align: end;
}

div.supplier-product .product-card {
    justify-self: start;
    padding: 2% 10%;
}

div.supplier-product .product-icons ul {
    list-style-type: none;
    padding-left: 0;
}

.product-icons li {
    line-height: 2;
}

.product-icons li .icon {
    margin-right: 10px;
}

.product-icons li span {
    padding-left: 5px;
}

div.supplier-product .product-actions {
    align-self: end;
    justify-self: end;
    margin: 10%;
}


@media (min-width: 650px) {
    div.container {
        margin: 3% 10%;
    }
}